<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--<property name="LOG_HOME" value="F:/logs"/>-->
    <property name="LOG_HOME" value="/usr/local/src/logs"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss:sss} [%thread] [%highlight(%-5level)] %logger{100} >> %msg%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{100} >> %msg%n"/>

    <property name="manage_gateway" value="manage_gateway"></property>
    <property name="manage_gatewayInfo" value="manage_gateway_info"></property>
    <property name="manage_gatewayError" value="manage_gateway_error"></property>

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <!--manage_gateway服务日志输出规则-->
    <appender name="manage_gatewayInfoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${manage_gateway}/${manage_gatewayInfo}.%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <MaxHistory>360</MaxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <appender name="manage_gatewayErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${manage_gateway}/${manage_gatewayError}.%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <MaxHistory>360</MaxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <!--manage_gateway服务-->
    <logger name="com.hoolink" level="INFO" additivity="false">
        <appender-ref ref="manage_gatewayInfoAppender"/>
        <appender-ref ref="manage_gatewayErrorAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--spring-->
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="manage_gatewayInfoAppender"/>
        <appender-ref ref="manage_gatewayErrorAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--servicecomb-->
    <logger name="org.apache.servicecomb" level="INFO" additivity="false">
        <appender-ref ref="manage_gatewayInfoAppender"/>
        <appender-ref ref="manage_gatewayErrorAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--huawei-->
    <logger name="com.huawei.paas.cse" level="INFO" additivity="false">
        <appender-ref ref="manage_gatewayInfoAppender"/>
        <appender-ref ref="manage_gatewayErrorAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>